html{
  font-size:10px;
}

.App{
  height:100vh;
  background: url('./school.jpg');
  background-size: cover;
  background-position:center;
  opacity:0.8;
  display:flex;
  align-items: center;
  flex-direction:column;
}

.titre{
  font-size: 6rem;
  margin-bottom:0.6rem;
  text-transform: uppercase;
  color:#2A12D6;
}

.sousTitre{
  font-size:2.2rem;
  margin-top:0.2rem;
  margin-bottom:1.9rem;
  color:#1D1C1D;
}

.titre, .sousTitre{
  font-family: sans-serif;
}

form{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:100%;
}

.search{
  height:3rem;
  width:40%;
  font-size:2.2rem;
  padding:1rem;
  border-radius:10px;
  border:4px solid lightblue;
  text-align:center;
}

.submitButton{
  margin-top:0.6rem;
  height:4rem;
  width:10rem;
  font-size:2.1rem;
  border-radius:10px;
}

.submitButton:hover{
  background-color:lightblue;
}

.result{
  font-size:2.2rem;
  font-weight:700;
  color:#1D1C1D;
}

@media (max-width:375px){

  .titre{
    font-size:14px;
    margin-bottom:0.6rem;
  }

  .sousTitre{
    margin-left:0.8rem;
  }
  
}

@media (max-width:415px){
  .App{
    display:flex;
    flex-direction:column;
    justify-content: flex-start;
    align-items: center;
  }

  .search{
    font-size:1.6rem;
    width:80%;
  }


  .titre{
    margin-top:4rem;
    font-size: 2.3rem;
    margin-bottom:0.6rem;
    color:#50B019;

  }

  .sousTitre{
    margin-left:1rem;
    margin-right:0.5rem;
    font-size:1.8rem;
    margin-bottom:2rem;
    margin-top:2rem;
  }

  .result{
    margin-left:1rem;
    margin-right:1rem;
  }
  
}

@media (max-height:569px){
  .sousTitre{
    font-size:1.5rem;
  }
  
  .result{
    font-size:1.5rem;
  }
}